<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">Inicio</a>
            <div class="nav-collapse collapse navbar-responsive-collapse">
                <ul class="nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categoria <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('_admin') }}">Nueva Grupo Categoria</a></li>
                            <li><a href="{{ path('_admin') }}">Consultar Grupo Categoria</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ path('_admin') }}">Nueva Categoria</a></li>
                            <li><a href="{{ path('_admin') }}">Consultar Categoria</a></li>
                        </ul>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tarjetas <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('_admin') }}">Nueva Tarjeta</a></li>
                            <li><a href="{{ path('_admin') }}">Consultar Tarjeta</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav pull-right">
                    <li><a href="#" data-toggle="tooltip" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." title="" data-original-title="Popover on bottom">Acerca de</a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="#">Manual</a></li>
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.fullName }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('_admin_logout') }}">Cerrar sesión</a></li>
                            <li><a href="#">Cambiar contraseña</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.nav-collapse -->
        </div>
    </div><!-- /navbar-inner -->
</div>
